*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.legal-section {
  background: #0b0b0b;
  color: #fff;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
}

.legal-container {
  max-width: 900px;
  margin: auto;
}

/* Heading */
.legal-heading {
  font-size: 2.5rem;
  color: #f5c33c;
  text-align: center;
  margin-bottom: 20px;
}

/* Intro */
.legal-intro {
  font-size: 16px;
  font-weight: 600;
  color: #ccc;
  text-align: left;
  margin-bottom: 40px;
  line-height: 1.6;
}

/* Content */
.legal-content h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  color:#f5c33c ;
  font-size: 1.5rem;
}

.legal-content p {
  font-size: 16px;
  font-weight: 600;
  color: #ccc;
  text-align: left;
  line-height: 1.6;
  margin-bottom: 10px;
}

.legal-content ul {
  padding-left: 20px;
}

.legal-content ul li {
  margin-bottom: 10px;
  color: #ddd;
  line-height: 1.6;
}

/* Responsive */

/* Tablet */
@media (max-width: 992px) {
  .legal-heading {
    font-size: 26px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .legal-heading {
    font-size: 22px;
  }

  .legal-intro {
    font-size: 14px;
  }

  .legal-content h3 {
    font-size: 18px;
  }
}