*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.image-section13 {
  padding: 20px 1%;
  background: #111;
  text-align: center;
}

/* Heading */
.section-heading13 {
  color: goldenrod;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
}

/* Optional underline effect */
.section-heading13::after {
  content: "";
  width: 80px;
  height: 4px;
  background: #ffcc00;
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}

/* Image */
.image-container13 {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.image-container13 img {
  width: 100%;
  height: 500px;
  object-fit: fill;
  border-radius: 12px;
}

/* 🔥 Tablet */
@media (max-width: 992px) {
  .section-heading13 {
    font-size: 2.2rem;
  }

  .image-container13 img {
    height: 350px;
  }
}

/* 📱 Mobile */
@media (max-width: 576px) {
  .section-heading13 {
    font-size: 1.8rem;
  }

  .image-container13 img {
    height: 250px;
  }
}



.work-container {
  padding: 60px 20px;
  text-align: center;
}

.work-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: orange;
  margin-bottom: 10px;
}

.work-description {
  max-width: 1200px;
  margin: 0 auto 10px;
  color: #fff;
  font-size: 16px;
}

/* 3 Images in One Row */

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.work-grid img {
  width: 100%;
  height: 550px;
  border-radius: 8px;
}

/* Tablet */

@media (max-width: 992px) {
  .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */

@media (max-width: 600px) {
  .work-grid {
    grid-template-columns: 1fr;
  }

}
/* ===== 480px ===== */
@media (max-width: 480px) {
  .work-title {
    font-size: 2.2rem;
  }

  .work-description {
    font-size: 14px;
    padding: 0 10px;
  }

  .work-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

/* ===== 360px ===== */
@media (max-width: 360px) {
  .work-title {
    margin-top: opx;
    font-size: 1.8rem;
  }

  .work-description {
    font-size: 13px;
  }

  .work-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}



.featured-section {
  text-align: center;
  padding: 60px 20px;
  border: 1px solid #1d1b1b;
}

/* Top Small Title */

.featured-subtitle {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

/* Main Project Name */

.featured-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: orange;
}

/* Button Link */

.featured-btn {
  display: inline-block;
  padding: 12px 28px;
  background: orange;
  color: #111;
  font-weight: 700;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s;
}

.featured-btn:hover {
  background: #444;
}

/* Tablet */

@media (max-width: 992px) {
  .featured-title {
    font-size: 32px;
  }
}

/* Mobile */

@media (max-width: 600px) {
  .featured-title {
    font-size: 24px;
  }

  .featured-subtitle {
    font-size: 16px;
  }

  .featured-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}